<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="product">
                <p class="animated fadeIn fast" class="container">
                    El caballero de la noche.Batman es un personaje creado por los estadounidenses Bob Kane y Bill Finger, ​ y propiedad de DC Comics. Apareció por primera vez en la historia titulada «El caso del sindicato químico» de la revista Detective Comics N.º 27,
                    lanzada por la editorial National Publications el 30 de marzo de 1939.
                    <img src="../../../../assets/imagenes/Llama.jpg" class="d-block w-50 h-10" alt="BATMAN" class="rounded" />
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="product">
                <p class="container">
                    El rey de los mares
                    <img src="../../../../assets/imagenes/queso-aji.jpg" class="img-logo" alt="..." class="rounded" />
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="product">
                <p class="container">
                    Tu vecino el hombre araña
                    <img src="../../../../assets/imagenes/spiderman.png" class="d-block w-75" alt="..." class="rounded" />
                </p>
            </div>
        </div>

        <div class="carousel-item">
            <div class="product">
                <p class="container">
                    Ping no te saldras con la tuya...
                    <img src="../../../../assets/imagenes/daredevil.png" class="d-block w-75" alt="BATMAN" class="rounded" />
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="product">
                <p class="container">
                    Una linterna siempre alumbrara
                    <img src="../../../../assets/imagenes/linterna-verde.png" class="d-block w-75" alt="BATMAN" class="rounded" />
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="product">
                <p class="container">
                    Jenn volvere por ti
                    <img src="../../../../assets/imagenes/wolverine.png" class="d-block w-75" alt="BATMAN" class="rounded" />
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<p>about works!</p>